*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, Arial, sans-serif;
}

.promo-bar{
    display:flex;
    overflow: hidden;
    background-color: rgb(60, 60, 67);  
}

.marquee-content{
    display: inline-block;
    white-space: nowrap;
    color: white;
    font-size: 1em;
    line-height: 2em;
    animation: marquee 30s linear infinite;
}

.marquee-content a:not(:last-child)::after{
    content: "  |  ";
    color: white;

}
@keyframes marquee{
    0% {transform: translateX(100vw);}
    100% {transform: translateX(-100%);}
}