* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-elements-padding: 1.5rem;
    --marquee-content-height: 2rem;
    --color-neutral-grey: #C4C4C6;
    --dropdown-link-color: rgb(60, 60, 67);
    --sales-header-color: #7f0019;
    --widget-margin: 5rem;
    --title-font-min: 1.8rem;
    --title-font-preferred: 2.6vmax;
    --title-font-max: 3rem;
    --text-shadow-color: rgba(0,0,0,0.5);
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

main {
    margin-top: 0.5rem;
}

.test-div {
    width: 100%;
    background-color: red;
}

li {
    list-style: none;
}

svg {
    width: inherit;
    height: inherit;
}


.marquee-content {
    white-space: nowrap;
    color: white;
    font-size: .875em;
    line-height: var(--marquee-content-height);
    animation: marquee 30s linear infinite;
}

.marquee-content a:not(:last-child)::after {
    content: "  |  ";
    color: white;

}

.header-wrapper {
    position: sticky;
    top: -2rem;
    z-index: 10;
    background-color: white;
}

.promo-bar {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(60, 60, 67);
}

.promo-bar-item {
    color: white;
    text-decoration: none;
}

.promo-bar-item:hover {
    text-decoration: underline;
}

.header-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


.header-right-nav {
    padding-right: var(--header-elements-padding);
}

.header-right-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7rem;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.125rem;
    padding-left: var(--header-elements-padding);
    height: 3.4375rem;
}

.line-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .1875rem;
    padding-left: 1.5rem 0;
}

.hamburger-line {
    display: block;
    height: .125rem;
    width: 1.25rem;
    background-color: black;
    transition: transform 0.3s ease-out;
}

#hamburger-toggle {
    display: none;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    width: 100%;
    border: 1px solid #ccc;
    background: white;
}


.overlay {
    display: none;
    position: fixed;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}

#hamburger-toggle:checked~.dropdown-menu {
    display: flex;
}

#hamburger-toggle:checked~.overlay {
    display: flex;
}

#hamburger-toggle:checked+.hamburger-menu #line1 {
    transform: rotate(45deg) translateY(10px);
}

#hamburger-toggle:checked+.hamburger-menu #line2,
#hamburger-toggle:checked+.hamburger-menu #line3 {
    opacity: 0;
}

#hamburger-toggle:checked+.hamburger-menu #line4 {
    transform: rotate(-45deg) translateY(-11.5px);
}

.icon {
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;
}

.icon-small {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
}

#heart-svg {
    width: 1.5rem;
    height: 1.5rem;
}

svg:hover {
    fill: var(--color-neutral-grey);
    transition: fill 0.3s ease;
}

.svg-image-black-outline:hover {
    filter: brightness(1.5) grayscale(0.8) invert(0.7);
    transition: filter 0.3s ease;
}


.header-search {
    width: 100%;
}

#search-svg {
    width: 1.25rem;
    height: 1.25rem;
}


.form-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: var(--header-elements-padding);
    padding-right: var(--header-elements-padding);
    margin-bottom: .75rem;

}

.form-container::after {
    content: '';
    position: absolute;
    left: var(--header-elements-padding);
    right: var(--header-elements-padding);
    bottom: 0;
    border-bottom: 1.5px solid var(--color-neutral-grey);
}

#search-input {
    padding: .375rem .75rem;
    outline: none;
    font-family: inherit;
    font-size: 1rem;
}

.dropdown-menu-top {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dropdown-item-centered {
    display: flex;
    justify-content: center;
    width: 50%;
}

.dropdown-divisory {
    width: 1px;
    background-color: var(--color-neutral-grey);
}

.dropdown-menu-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem .5rem;
    border-top: 1px solid var(--color-neutral-grey);
    border-bottom: 1px solid var(--color-neutral-grey);
}

.dropdown-action {
    color: var(--dropdown-link-color);
    text-decoration: none;
}

.dropdown-menu-footer {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 3rem;
    background-color: #f4eede;
}

.dropdown-footer-item {
    padding: 1rem 0 1rem 1.5rem;
}

.dropdown-footer-item a {
    text-decoration: underline;
}

.sales-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3.5rem 0;
    background-color: #d6ad7f;
}

.sales-text-container {
    margin-left: 1rem;
    color: var(--sales-header-color);
}

.sales-title-text {
    padding: .5rem 0;
    font-size: clamp(1.8rem, 2.6vmax, 3rem);
    letter-spacing: 0.3px;
}

.sales-title-text-large {
    font-size: clamp(3.2rem, 6.6vmax, 8.5rem);
}

.sales-subtitle-text {
    margin-top: 1.5rem;
    font-size: clamp(1.1rem, 1.4vmax, 1.4rem);
}

#new-lines-added-text {
    margin: 1.5rem 0;
    font-weight: normal;
}

.promo-gallery {
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;
    height: fit-content;
    padding: 0 .5rem;
    cursor: pointer;
    scroll-behavior: smooth;
}

.promo-card {
    flex: 0 0 74%;
    position: relative;
    aspect-ratio: 4/5;
}

.promo-card img {
    width: 100%;
    opacity: 90%;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.promo-card p {
    position: absolute;
    left: 50%;
    bottom: 1.4rem;
    height: fit-content;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px var(--text-shadow-color);
    transform: translateX(-50%);
}

.highlights-card p::after,
.promo-card p::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: var(--sales-header-color);
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.highlights-card:hover p::after,
.promo-card:hover p::after {
    transform: scaleX(1);
}

.promo-card:hover img {
    opacity: 1;
}

.highlights-container {
    padding: 3.5rem 0 2.5rem 1rem;
    background-color: #f5f3f2;
}

.highlights-swipe-container {
    display: flex;
    overflow-x: auto;
    gap: 0.5rem;
    scroll-behavior: smooth;
}

.title-padded {
    margin-bottom: .75rem;
    font-size: 1.125rem;
}

.highlights-card {
    flex: 0 0 71%;
    max-width: 460px;
}

.highlights-card p {
    position: relative;
    width: fit-content;
    margin: 0.6rem 0;
    color: var(--dropdown-link-color);
    font-size: 0.9rem;
    font-weight: bold;
}

.highlights-card a {
    text-decoration: none;
}

.img-container {
    overflow: hidden;

}

.img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease-in-out;
}

.highlights-card:hover .img-container img {
    transform: scale(1.03);
}

.hero-inner{
    position: relative;
    inset: 0;
    min-height: 400px; 
    aspect-ratio: 3/4;
    overflow: hidden;
    padding: 3.5rem 1.25rem;
}


.hero-inner-slider img {
    position: absolute;
    width: calc(100% - 2.5rem);
    height: calc(100% - 5rem);
    object-fit: cover;
    animation: fade 12s infinite;
    animation-fill-mode: both;
}

.hero-inner-slider img[class*="desktop"]{
    display:none
}

.hero-inner-slider img:nth-child(1),
.hero-inner-slider img:nth-child(3){
    animation-delay: 0s;
}

.hero-inner-slider img:nth-child(2),
.hero-inner-slider img:nth-child(4){
    animation-delay: 6s;
}

.hero-inner .hero-slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: calc(100% - 5rem);
    transform: translate(-50%,-50%);
    pointer-events: none;
    animation: fade 12s infinite;
    animation-fill-mode: both;
}

.hero-inner .hero-slide-text:nth-child(5) { animation-delay: 0s; }
.hero-inner .hero-slide-text:nth-child(6) { animation-delay: 6s; }

.hero-slide-text h2 {
    padding: .75rem 0;
    font-size: clamp(var(--title-font-min),var(--title-font-preferred),var(--title-font-max));
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.hero-slide-text a{
    display: block;
    padding: .25rem 0;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}


.hero-slide-text a::after {
    content: '\2192'; 
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    display: inline-block;
    vertical-align: middle;
    transition: transform 0.3s ease;
    transform: translateX(0);         
}

.hero-slide-text a:hover::after {
    transform: translateX(0.3rem);  
}

.slide-indicator{
    display:flex;
    gap: 1rem;
    position: absolute;
    top: 11%;
    right: 10%;
    z-index: 2;
}

.slide-indicator span{
    color: rgba(255,255,255,0.6);
    animation: indicatorFade 12s infinite;
}

.slide-indicator span.active{
    color: white;
}

.slide-indicator span:nth-child(1){
    animation-delay: 0s;
}

.slide-indicator span:nth-child(2){
    animation-delay: 6s;
}

.mobile-hidden {
    display: none;

}

.transparent-block {
    background-color: inherit;
    border: none;
}


@keyframes marquee {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes fade {
    0% { opacity: 0; pointer-events: none; }
    10% { opacity: 1; pointer-events: auto; }
    40% { opacity: 1; pointer-events: auto; }
    50% { opacity: 0; pointer-events: none; }
    100% { opacity: 0; pointer-events: none; }
}

@keyframes indicatorFade {
    0%,49.9% {color: white;}
    50%,100%{color: rgba(255,255,255,0.6);}
}


@media (min-width: 1260px) {

    main {
        margin-top: 2rem;
    }

    .site-header {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .header-left {
        order: 1;
    }

    .header-center img {
        width: auto;
        height: 2rem;
        margin: 0 2rem;
    }

    .header-search {
        order: -1;
        width: auto;
    }


    .hamburger-menu {
        display: none;
    }

    .header-left {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    .dropdown-menu {
        display: block;
        position: relative;
        top: 100%;
        left: 0;
        width: 100%;
        border: none;
    }

    .dropdown-menu-top {
        display: none;
    }

    .dropdown-menu-list {
        border: none;
        padding: 0;
    }

    .dropdown-menu-footer {
        display: none;
    }

    .mobile-hidden {
        display: block;
    }

    #eu-svg:hover {
        filter: brightness(1.5) grayscale(0.7);
        transition: filter 0.3s ease;
    }

    #person-svg {
        width: 1.4rem;
        height: 1.4rem;
    }


    #location-svg {
        width: 1.3rem;
        height: 1.3rem;
    }

    .sales-container {
        padding: 7rem 0;
    }

    .highlights-container {
        padding-left: 5rem;
    }

    .hero-inner{
        width: calc(100% - 6.25rem);
        padding: 5rem 6.25rem;
    }

    .hero-inner .hero-slide-text {
        top: 55%;
        left: 62%;
    }


}

@media (min-width: 765px) and (max-width: 1259px) {
    .sales-container {
        padding: 3.5rem 0;
    }

    .highlights-container {
        padding-left: 3.5rem;
    }

    .hero-inner .hero-slide-text {
        left: 55%;
    }    
}

@media (min-width:765px) {

    .sales-container {
        grid-template-columns: 1fr 60%;
        align-items: center;
    }

    .sales-text-container {
        margin-left: 5rem;
    }

    .promo-gallery {
        overflow-x: hidden;
    }

    .promo-card {
        flex: 1 1 auto;
    }

    .promo-card img {
        display: block;
        width: 100%;
        height: 105%;
        object-fit: cover;
    }

    .promo-card p {
        bottom: 5%;
    }

    .highlights-card {
        flex: 0 0 calc((100vw - 2.5*var(--widget-margin))/4);
        overflow: hidden;
    }

    .hero-inner{
        aspect-ratio: 16/8;
    }

    .hero-inner-slider img[class*="mobile"]{
        display: none;
    }

    .hero-inner-slider img[class*="desktop"]{
        display: block;
    }

    .slide-indicator{
        top: 75px;
        right: 40px;
    }

    .link-wrapper{
        display: flex;
        gap: 1.5rem;
    }


}