*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, Arial, sans-serif;
}

svg{
    width:1.5rem;
    height:1.5rem;

}
.promo-bar{
    display:flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(60, 60, 67);  
}

.marquee-content{
    white-space: nowrap;
    color: white;
    font-size: .875em;
    line-height: 2em;
    animation: marquee 30s linear infinite;
}

.marquee-content a:not(:last-child)::after{
    content: "  |  ";
    color: white;

}

.site-header{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    color:white;
}


.hamburger-menu{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:0.125rem;
    padding-left: 1.5rem;
    height: 3.4375rem;
    background-color: white;
    border:none;
}

.line-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .1875rem;
    padding-left: 1.5rem 0;
}

.hamburger-line{
    display:block;
    height: .125rem;
    width:1.25rem;
    background-color: black;
}

.items-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
@keyframes marquee{
    0% {transform: translateX(100vw);}
    100% {transform: translateX(-100%);}
}