*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-elements-padding: 1.5rem;
    --marquee-content-height: 2rem;
    --color-neutral-grey: #C4C4C6;
    --dropdown-link-color: rgb(60, 60, 67);
}
body{
    font-family: Helvetica, Arial, sans-serif;
}

li{
    list-style: none;
}

svg{
    width:inherit;
    height: inherit;
}


.marquee-content{
    white-space: nowrap;
    color: white;
    font-size: .875em;
    line-height: var(--marquee-content-height);
    animation: marquee 30s linear infinite;
}

.marquee-content a:not(:last-child)::after{
    content: "  |  ";
    color: white;

}

.header-wrapper {
    position: sticky;
    top: -2rem;  
    z-index: 10;
}

.promo-bar{
    display:flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(60, 60, 67);  
}

.promo-bar-item{
    color:white;
    text-decoration: none;
}

.promo-bar-item:hover{
    text-decoration: underline;
}

.header-top{
    display:flex;
    justify-content: space-between;
    align-items: center; 
}


.header-right-nav{
    padding-right: var(--header-elements-padding);
}

.header-right-nav ul{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:0.3rem;
}

.hamburger-menu{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:0.125rem;
    padding-left: var(--header-elements-padding);
    height: 3.4375rem;
}

.line-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .1875rem;
    padding-left: 1.5rem 0;
}

.hamburger-line{
    display:block;
    height: .125rem;
    width:1.25rem;
    background-color: black;
    transition: transform 0.3s ease-out;
}

#hamburger-toggle{
    display:none;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  width:100%;
  border: 1px solid #ccc;
  background: white;
}

.overlay{
    display:none;
    position:fixed;
    z-index: 50;
    width:100vw;
    height:100vh;
    background: rgba(0,0,0,0.3);
}

#hamburger-toggle:checked ~ .dropdown-menu{
  display: flex;
}

#hamburger-toggle:checked ~ .overlay{
  display: flex;
}

#hamburger-toggle:checked + .hamburger-menu #line1 {
  transform: rotate(45deg) translateY(10px);
}
#hamburger-toggle:checked + .hamburger-menu #line2,
#hamburger-toggle:checked + .hamburger-menu #line3 
{
  opacity: 0; 
}

#hamburger-toggle:checked + .hamburger-menu #line4 {
  transform: rotate(-45deg) translateY(-11.5px);
}

.icon{
    display:inline-block;
    width:1.125rem;
    height:1.125rem;
}

.icon-small{
    display:inline-block;
    width: 1.5rem;
    height: 1.5rem;
}

.header-search{
    width:100%;
}

.form-container{
    display:flex;
    align-items: center;
    padding-left: var(--header-elements-padding);
    padding-right: var(--header-elements-padding);
    position: relative;
}

.form-container::after {
    content: '';
    position: absolute;
    left: var(--header-elements-padding);
    right: var(--header-elements-padding); 
    bottom: 0;
    border-bottom: 1.5px solid var(--color-neutral-grey);
}
#search-input{
    padding: .375rem .75rem;
    font-family: inherit;
    font-size: 1rem;
}

.dropdown-menu-top{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom:1rem;
}

.dropdown-item-centered{
    display: flex;
    justify-content: center;
    width:50%;
}

.dropdown-divisory{
    width:1px;
    background-color: var(--color-neutral-grey);
}

.dropdown-menu-list{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    border-top:1px solid var(--color-neutral-grey);
    border-bottom:1px solid var(--color-neutral-grey);
}
.dropdown-action{
    color: var(--dropdown-link-color);
    text-decoration: none;
}


.transparent-block{
    background-color: inherit;
    border: none; 
}

@keyframes marquee{
    0% {transform: translateX(100vw);}
    100% {transform: translateX(-100%);}
}